<aside>
	<div class="intro row">
		<h5 class="yellow"> Chhitij </h5>
		<div class="row about">
			<p class="m-b-0">
				FrontEnd dev., Bachelors in Information Technology with an aggregate of 69% from
				<a href="http://www.iec.edu.in/" target="_blank">IEC-CET</a> affiliated to UPTU (UP).
			</p>
		</div>
		<div class="row skills">
			<h5 class="yellow"> Skills </h5>
			<h6> Javascript
				<span star-rating="3"></span>
			</h6>
			<h6> AngularJS
				<span star-rating="4"></span>
			</h6>
			<h6> TypeScript
				<span star-rating="3"></span>
			</h6>
			<h6> Angular2
				<span star-rating="3"></span>
			</h6>
			<h6> Nodejs(NW)
				<span star-rating="4"></span>
			</h6>
			<h6> UnitTest
				<span star-rating="4"></span>
			</h6>
			<h6> PHP
				<span star-rating="3"></span>
			</h6>
			<h6> Wordpress
				<span star-rating="4"></span>
			</h6>
			<h6> Magento
				<span star-rating="4"></span>
			</h6>
			<h6> HTML
				<span star-rating="3"></span>
			</h6>
			<h6> CSS
				<span star-rating="3"></span>
			</h6>
		</div>
		<div class="social-contact">
			<h5 class="yellow m-b-0"> Contact </h5>
			<div class="row mobile">
				<h6><span class="glyphicon glyphicon-phone green"></span> <a href="tel:+919711609392">+91-9711609392</a> </h6>
			</div>
			<div class="row email">
				<h6> <span class="glyphicon glyphicon-envelope green"></span> <a href="mailto:vs3.chhitijshrivastava@gmail.com">chhitijshrivastava@gmail.com</a>					</h6>
			</div>
			<div class="row linkedin">
				<h6> <span class="green fa fa-linkedin" aria-hidden="true"></span> <a href="https://in.linkedin.com/in/chhitij-shrivastava-92076954"
						target="_blank">chitijshrivastava</a> </h6>
			</div>
			<div class="row github">
				<h6> <span class="green fa fa-github" aria-hidden="true"></span> <a href="//www.github.com/chhitij" target="_blank">chhitij</a>					</h6>
			</div>
			<div class="row facebook">
				<h6> <span class="green fa fa-facebook-official" aria-hidden="true"></span> <a href="https://www.facebook.com/chhitij.shrivastava"
						target="_blank">chitij shrivastava</a> </h6>
			</div>
		</div>
	</div>
</aside>
